.col-1 {
  flex-basis: 15%;

}
.col-2 {
  flex-basis: 15%;

}
.col-3 {
  flex-basis: 15%;

}
.col-4 {

}
.col-5 {
  flex-basis: 10%;

}
.responsive-table{
  /* padding-right: 20px; */
  margin-right: 5%;
}
.col {
  /* display: flex; */
  /* padding: 10px 0; */
  /* &:before { */
    /* color: #6C7A89; */
    /* padding-right: 10px; */
    /* content: attr(data-label); */
    /* flex-basis: 50%; */
    /* text-align: right; */
  /* } */
}
.addproducttitle{
  margin-top: 15%;
}
.addpbtn{
  margin-left: 29%;
}
.cot1 {
  /* background-color: red; */
}
.cot2{
  background-color: wheat;
  padding-bottom: 15%;
  border-radius: 5%;
}
.cot3 {
  /* background-color: yellow; */
}
select{
  border-radius: 10px;
  width: 200px;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  border-style: solid;
  border-width: 1px;
  border-color: black;
}