
.addpbtn{
  margin-left: 50%;
}

input{
  border-radius: 10px;
  width: 200px;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.pName, .supplier, .color, .count{
  margin-bottom: 15px;
  margin-top: 15px;
}
/* .supplier, .color{
  width: 200px;
} */
.tTitle{
  margin-top: 16px;
  margin-bottom: 17px;
}