.login_block {
    /* margin-top: 20%; */
    margin-left: 24%;
    /* background-color: wheat; */
}

img{
    width: 90%; 
    height: 70%; 
    object-fit: contain;
    margin-top: 0%;
    /* margin-bottom: 30%; */
    margin-left: 10%;

}
.input{
    padding-left:10px;
    margin: 10px 0 10px 0;
    width: 150%;
    background-color: beige;

}
.input_block{
    /* margin-top: 10%; */
    margin-left: 0%;
}

.shop_title{
    padding-top: 15%;
    text-align:center;
    padding-right: 40%;
}
.shop_title h1{
    font-family: ans-serif;
    font-size: 50px;
    text-shadow: 3px 3px 3px #ababab;
}
.shop_title h3{
    font-family: ans-serif;
    font-style: italic;
}


.top {
    padding: 5%;
    background-color: white;
}
.bot{
    background-color: white;
}
.right{
    background-color: red;
    padding: 100%;
}
.cot1 {
    /* background-color: red; */
}
.cot2{
    background-color: wheat;
    padding-bottom: 15%;
    border-radius: 5%;
}
.cot3 {
    /* background-color: yellow; */
}
