
/* chung */
input{
  border-radius: 10px;
  width: 230%;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  border-style: solid;
  border-width: 1px;
  border-color: black;
}/* file add */
.tTitle{
  margin-top: 16px;
  margin-bottom: 17px;
}
.addProductBtn{
  margin-left: 35%;
}

.productName, .category, .material, .imageLink, .imagePath, .description, .supplier, .discountValue {
  margin-top: 17px;
}
/* file show */
.page-number {
  display: flex;
  justify-content: center;
}

.page-number li {
  display: inline-block;
  margin: 0 5px;
}

.page-number li a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.page-number li a:hover {
  background-color: #ddd;
}

/* file detail */

/* .productImage {
  width: 90%;
  height: 90%;
} */
.addProductTitle{
  padding-top: 2%;
  margin-left: 5%;
}
.addProductDetailBtn{
  margin-left: 55%;
}
.pName, .supplier, .discountDate, .productId, .pSize, .price, .discount{
  margin-bottom: 15px;
  margin-top: 15px;
}
.addTitel h4{
  margin-left: 2%;
}
.productId input{
  text-align: center;
}
.count{
  margin-top: 30px;
}
.color{
  margin-top: 20px;
}
